version: "3.8"

services:
  backend:
    build:
      context: ./backend
    container_name: se_backend
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      - USDA_API_KEY=${USDA_API_KEY}

  frontend:
    build:
      context: ./frontend
    container_name: se_frontend
    restart: unless-stopped
    ports:
      - "3000:80"
    depends_on:
      - backend
